@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");
/* line 17, ../sass/form.sass */
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 22, ../sass/form.sass */
body {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  background: #e3e3e3;
  color: #444;
  font-size: 14px;
}

/* line 28, ../sass/form.sass */
p, ul, li {
  color: #666;
  line-height: 1.5em;
}

/* line 32, ../sass/form.sass */
img {
  max-width: 100%;
}

/* line 35, ../sass/form.sass */
a {
  color: #44bb6d;
  cursor: pointer;
}
/* line 38, ../sass/form.sass */
a:hover {
  color: #369657;
  text-decoration: none;
}

/* line 42, ../sass/form.sass */
h1 {
  color: #44bb6d;
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 40px;
}

/* line 48, ../sass/form.sass */
select, input[type="text"], input[type="tel"], input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-size: 21px;
  width: 100%;
  margin-bottom: 30px;
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #444;
}

/* line 60, ../sass/form.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 65, ../sass/form.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* line 70, ../sass/form.sass */
.row-inset {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}

/* line 76, ../sass/form.sass */
.header {
  background: white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
/* line 83, ../sass/form.sass */
.header .header-brand a {
  background-image: url("../images/rent2ownadvisor-logo.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 307px;
  height: 44px;
  text-indent: -9999px;
  margin-right: 10px;
}
/* line 93, ../sass/form.sass */
.header p {
  color: #44bb6d;
  font-size: 18px;
  float: right;
  margin-top: 10px;
}

/* line 100, ../sass/form.sass */
.form-container {
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-top: 30px;
}
/* line 105, ../sass/form.sass */
.form-container .form-body {
  padding: 20px 20px 60px;
  max-width: 900px;
  margin: auto;
}

/* line 111, ../sass/form.sass */
.ll a {
  color: #44bb6d;
  cursor: pointer;
}
/* line 114, ../sass/form.sass */
.ll a:hover {
  color: #369657;
  text-decoration: none;
}
/* line 118, ../sass/form.sass */
.ll h1 {
  color: #44bb6d;
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 40px;
}
/* line 124, ../sass/form.sass */
.ll select, .ll input[type="text"], .ll input[type="tel"], .ll input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-size: 21px;
  width: 100%;
  margin-bottom: 30px;
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #444;
}
/* line 136, ../sass/form.sass */
.ll select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* line 141, ../sass/form.sass */
.ll .progress {
  height: 8px;
  border-radius: 0;
  background: none;
}
/* line 145, ../sass/form.sass */
.ll .progress .progress-bar {
  border-radius: 0;
  background: #44bb6d;
}
/* line 149, ../sass/form.sass */
.ll .btn, .ll .btn-primary {
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  font-size: 21px !important;
  padding: 12px 30px !important;
  background: #f06322 !important;
  border: none !important;
  border-radius: 5px;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  margin: 20px 0;
}
/* line 162, ../sass/form.sass */
.ll .btn:hover, .ll .btn-primary:hover {
  color: white;
  background: #d14c0e !important;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  top: 1px;
  position: relative;
}
/* line 169, ../sass/form.sass */
.ll .disclaimer {
  font-size: 12px;
  line-height: 20px;
}
/* line 173, ../sass/form.sass */
.ll label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  display: block;
  font-weight: normal;
}

/* line 182, ../sass/form.sass */
.footer {
  clear: both;
  overflow: auto;
  padding: 30px 0;
  text-align: center;
}
/* line 187, ../sass/form.sass */
.footer p {
  color: #999;
  text-align: center;
}

@media (max-width: 768px) {
  /* line 195, ../sass/form.sass */
  .header .header-brand a {
    max-width: 320px;
    margin: auto;
    float: none;
    background-size: contain;
  }
  /* line 200, ../sass/form.sass */
  .header p {
    float: none;
    margin: auto;
  }

  /* line 203, ../sass/form.sass */
  .row-inset {
    padding: 0 20px;
  }

  /* line 205, ../sass/form.sass */
  .form-container {
    margin: 0 -20px;
    border-radius: 0;
  }
}
